<div class="container">
	<div class="row">
		<h1>ジャンル編集</h1>
		<%= form_for(@genre, url: {controller: "genres", action: "update"}) do |f|  %>
		<!-- エラー文表示 -->
		<%= render 'layouts/error_form', model: f.object %>
		
		<p>ジャンル</p><%= f.text_field :name %><label><%= f.radio_button :is_active, "true" %>有効</label><label><%= f.radio_button :is_active, "false" %>無効</label><button class="btn btn-primary">変更を保存する</button>
		<% end %>
	</div>
</div>

