<h1>ジャンル一覧・追加</h1>
<h3><%= link_to "商品一覧", admins_products_path %></h3>
<%= form_for(@genre, url: {controller: "genres", action: "create"}) do |f| %>
<p>ジャンル</p><%= f.text_field :name %><label><%= f.radio_button :is_active, "true" %>有効</label><label><%= f.radio_button :is_active, "false" %>無効</label><%= f.submit '追加' %>
<% end %>

<h3>ジャンル一覧</h3>
<table>
	<thead>
		<tr>
			<th>ジャンル</th>
			<th>状態</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @genres.each do |genre| %>
		<tr>
			<td><%= genre.name %></td>
			<td>
				<% if genre.is_active == true %>
				有効
				<% else %>
				無効
				<% end %>
			</td>
			<td><%= link_to '編集', edit_admins_genre_path(genre) %></td>
		</tr>
		<% end %>
	</tbody>
</table>