<div class="container">
	<div class="row">
		<h1>ユーザー詳細ページ</h1>
		<table>
			<thead>
				<th>氏名</th>
				<th>カナ</th>
				<th>郵便番号</th>
				<th>住所</th>
				<th>電話番号</th>
				<th>メールアドレス</th>
			</thead>
			<tbody>
				<td><%= @customer.last_name + @customer.first_name %></td>
				<td><%= @customer.last_name_kana + @customer.first_name_kana %></td>
				<td><%= @cutomer.postal_cord%></td>
				<td><%= @customer.address %></td>
				<td><%= @customer.telephone_number%></td>
				<td><%= @customer.email%></td>
			</tbody>
		</table>
	</div>
</div>