<div class="container cart-index">
	<div class="row cart-empty">
		<div class="col-xs-4">
			<h2>ショッピングカート</h2>
		</div>

		<% if @cart.any? %> <!-- any？メソッド　モデルにデータ→true なし→false -->
			<div class="col-xs-3 col-xs-offset-5">
				<%= link_to "カートを空にする", customers_carts_path, method: :delete , class: "btm btn-danger" %>
			</div>
		<% end %>
	</div>

	<div class="row cart-product">
		<table class="table">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">商品名</th>
        			<th scope="col">単価</th>
       			    <th scope="col">数量</th>
      			    <th scope="col">小計</th>
        			<th scope="col"></th>
				</tr>
			</thead>

			<% @cart.each do |cart| %>

			<tbody>
				<tr>
					<td scope="row"><%= attachment_image_tag cart.product, :image, :fill, 70, 70, fallback: "no_image.png", size: "70x70" %></td>
					<td scope="row"><%= cart.product.name %></td>
					<td scope="row"><%= number_to_currency((BigDecimal(cart.product.price) * BigDecimal("1.08")).ceil, :unit => "¥", strip_insignificant_zeros: true) %>(税込)</td>
					<td scope="row">
						<%= form_for cart, url: customers_cart_path(cart), method: :patch do |f| %>
						<%= f.number_field :amount, class: "col-xs-2 cart-select" %>
						<%= f.submit "変更", class: "btn btn-primary" %>
						<% end %>
					</td>
					<td scope="row"><%= number_to_currency((((BigDecimal(cart.product.price) * BigDecimal("1.08")).ceil) * cart.amount), :unit => "¥", strip_insignificant_zeros: true) %>(税込)</td>
					<td scope="row"><%= link_to "削除する", customers_cart_path(cart), method: :delete, class: "btn btn-danger" %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>

	<div class="row cart-date">
		<div class="col-xs-3">
			<%= link_to "買い物を続ける" , root_path, class: "btn-primary" %>
		</div>
		<div class="col-xs-3 col-xs-offset-6">
			<tr>
				<td>合計金額</td>
				<td><%= number_to_currency(@total_price, :unit => "¥", strip_insignificant_zeros: true) %></td>
			</tr>
		</div>
	</div>

	<div class="row cart-enter">
		<div class="col-xs-7 col-xs-offset-5">
			<%= link_to "情報入力に進む", new_customers_order_path, class: "btn btn-success btn-lg" %>
		</div>
	</div>
</div>


	