<p class="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <section class="customer-detail">
        <h2>customer.nameの会員詳細</h2>
    <br>
    <div class="col-xs-8">
        <table class="table">
          <tr>
            <th>顧客ID</th>
            <th><%= @customer.id %></th>
            <th><% if @customer.is_deleted == "Invalid" %>退会済み
                <% else %>有効
                <% end %></th>
          </tr>

          <tr>
            <th>氏名</th>
            <th><%= @customer.last_name %><%= @customer_first_name %></th>
          </tr>
          <tr>
            <th>フリガナ</th>
            <th><%= @customer.last_name_kana %><%= @customer.first_name_kana %></th>
          </tr>
          <tr>
            <th>郵便番号</th>
            <th><%= @customer.postal_cord %></th>
          </tr>
          <tr>
            <th>住所</th>
            <th><%= @customer.address %></th>
          </tr>
          <tr>
            <th>電話番号</th>
            <th><%= @customer.telephone_number %></th>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <th><%= @customer.email %></th>
          </tr>
        </table>
        <div class='btn-toolbar'>
            <button class="btn btn-primary btn-lg text-bottom"><%= link_to "編集する", edit_admins_customer_path, :style=>"color:white;" %></button>
            <button class="btn btn-warning btn-lg text-bottom"><%= link_to "注文履歴一覧を見る", admins_orders_path, :style=>"color:white;" %></button>
        </div>
      </section>
    </div>
  </div>
</div>
