
<div class="container product-show">
	<div class="row">

		<%= render '/customers/products/genrelist', genres: @genres %>

		<div class="col-xs-5 col-xs-offset-1">

			<%= attachment_image_tag @product, :image, :fill, 400, 500, fallback: "no_image.png", size:"400x400" %>
		</div>

		<div class="col-xs-4">
			<div class="product-info">
				<h2><%= @product.name %></h2>
				<p><%= @product.introduction %></p>
				<h3><%= number_to_currency((BigDecimal(@product.price) * BigDecimal("1.08")).ceil, :unit => "¥", strip_insignificant_zeros: true ) %>(税込)</h3>
			</div>

				<%= form_for @cart, url:customers_carts_path do |f| %>
				<%= render 'layouts/error_form', model: f.object %>
				<%= f.hidden_field :product_id, value: @product.id %>

				<div class ="product-amount">
					<div class ="select-amount">
						<p>個数を選択して下さい :</p>
						<%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
					</div>
					<div class="cart-in">
						<%= f.submit "カートに入れる", class: "btn btn-success" %>
					</div>
				</div>
				<% end %>

		</div>
	</div>
</div>
