
<div class="container">
	<div class="row">

		<%= render '/customers/products/genrelist', genres: @genres %>

		<div class="col-xs-5">

			<%= attachment_image_tag @product, :image, :fill, 300, 200, fallback: "no_image.png"%>
		</div>

		<div class="col-xs-5">
			<div class="product-info">
				<h2><%= @product.name %></h2>
				<p><%= @product.introduction %></p>
				<h3><%= number_to_currency((BigDecimal(@product.price) * BigDecimal("1.08")).ceil) %>(税込)</h3>
			</div>

				<%= form_for @cart do |f| %>
				<%= render 'layouts/error_form', model: f.object %>
				<%= f.hidden_field :product_id, value: @product.id %>

				<div class ="product-quantity">
					<div class ="select-quantity">
						<%= f.select :quantity, ["1個", "2個", "3個", "4個", "5個", "6個", "7個", "8個", "9個", "10個"], {include_blank: "個数選択"} %>
					</div>
					<div class="cart-in">
						<%= f.submit "カートに入れる" %><!--あとでボタンのクラス入れる　-->
					</div>
				</div>

		</div>
	</div>
</div>
