<div class="container" >
	<div class="row" >
		<div class="col-lg-10" >
			<h1>商品一覧</h1>
			<div class="text-right">
			<button type="button" class="btn btn-circle"><%= link_to "＋", new_admins_product_path %></button>
		    </div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>商品ID</th>
						<th>商品名</th>
						<th>税抜価格</th>
						<th>ジャンル</th>
						<th>ステータス</th>
					</tr>
				</thead>

				<tbody>
					<% @products.each do |product| %>
					<tr>
						<td><%= product.id %></td>
						<td><%= link_to product.name, admins_product_path(product) %></td>
						<td><%= product.price %></td>
						<td><%= product.genre.name %></td>
						<td><% if product.is_active == true %>販売中
							<% else %>販売停止中
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<h3><%= link_to "ジャンル一覧", admins_genres_path %></h3>
		</div>
	</div>
</div>